.weather__forecast {
  /* border: 1px solid red; */
  display: flex;
  margin-left: 10px;
}

.waiting_search {
  width: 435px;
  text-align: center;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  line-height: 180px;
}